@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");


.container {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.card-error {
    text-align: center;
    display: flexbox;
    background-color: whitesmoke;
    color: darkred;
    border: 1px solid darkred;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 10px 6px 6px lightblue;
    margin-bottom: 40px;
}

.div-card {
    display: flexbox;
    margin: 6px;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 6px 6px rgba(211, 211, 211, 0.221);
    width: 350px;
    height: auto;
    background-size: cover;
}

.div-card:hover {
    background-color: rgb(229, 248, 255);
    transition: .5s ease-in;
    box-shadow: 5px 20px 60px rgba(211, 211, 211, 0.519);
}

div.imagen {
    font-size: 120px !important;
}

img, svg {
    padding: 0px;
    margin-bottom: 10px;
    width: 295px;
    height: 180px;
    border-radius: 4px;
}

div.prenda {
    font-size: 18px;
}

div.importe {
    font-size: 16px;
    font-weight: 700;
}

button {
    font-size: 10px;
    padding: 0px;
}

button:hover {
    background-color: darkcyan;
    color: whitesmoke;
    border-color: lightgray;
}

button:active {
    background-color: black;
    color: whitesmoke;
    border-color: black;
}

.button-add {
    width: 80px;
    background-color: gray;
    border-radius: 5px;
    font-family: cursive;
    margin-bottom: 10px;
}

.wobble-hor-bottom {
    animation: wobble-hor-bottom 0.8s both;
}


* {
    padding: 0px;
    margin: 0px;
}

nav img {
    background-size: 20px !important;
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

.carrito {
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px !important;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px !important;
    font-style: italic;
    text-align: center;
}

#productosEnCarrito{
    color: darkgray;;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

article a:focus {
    outline: 1px dotted #28666e;
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
}

#scrollToTopBtn:hover {
    background-color: #333;
}

.flechaSubir {
    height: 25px;
    width: 25px;
    border-radius: 50px;
}


/************************ 
  Generic layout (demo looks)
  **************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
}

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

iframe {
    padding: 10px;
}

footer {
    margin-top: 20px;
}

@-webkit-keyframes wobble-hor-bottom {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}